@import url(/src/styles/root.css);

.Dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.dashboard_wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 26.45vw 1fr;
  grid-auto-rows: 15vh 10vh 1fr;
}

.dashboard_header_wrapper {
  box-sizing: border-box;
  padding: 2vh;
  background-color: var(--primary-color);
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
}
.dashboard_header {
  font-family: var(--primary-font);
  font-size: 9vh;
  color: var(--tertiary-color);
  text-align: end;
}
.logout_icon {
  cursor: pointer;
  width: 7vh;
  margin-left: 2vw;
}

.dashboard_sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tertiary-color);
  grid-row: 2/4;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.dashboard_note_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  padding: 20px;
  width: 100%;
}

.dashboard_note_title_wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: var(--quaternary-color);
  padding: 15px;
}
.dashboard_note_title {
  font-family: var(--secondary-font);
  font-size: 7vh;
  color: var(--tertiary-color);
  box-sizing: border-box;
  width: 85%;
  display: flex;
  align-items: center;
}

.note_icons_wrapper {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  gap: 1vw;
  padding-right: 15px;
}
.notes_icon {
  cursor: pointer;
  width: 5vh;
}

.dashboard_content {
  background-color: var(--secondary-color);
  grid-column: 2/2;
  grid-row: 3/3;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

.dashboard_note_description {
  font-family: var(--tertiary-font);
  padding: 1vw;
  box-sizing: border-box;
  font-size: 4vh;
  line-height: 1.3;
  text-align: justify;
  width: 100%;
  overflow-y: scroll;
  scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
.guide_flex {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.guide_text {
  font-family: var(--tertiary-font);
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  padding: 8px 20px;
  font-size: 2.5vh;
  border-radius: 20px;
}

.edit_title_mode {
  border: none;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 5px;
  width: 95%;
  font-family: var(--secondary-font);
  font-size: 7vh;
  color: var(--tertiary-color);
}

.edit_description_mode {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-family: var(--tertiary-font);
  font-size: 4vh;
  height: 100%;
  width: 100%;
}
