@import url(/src/styles/root.css);

.signup_wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-auto-rows: 20vh 1fr;
  text-align: end;
}
.signup_header {
  padding: 2vw;
  font-family: var(--primary-font);
  font-size: 9.5vh;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  grid-column: 1/3;
  box-sizing: border-box;
}
.signup_content {
  background-color: var(--secondary-color);
  grid-column: 1/3;
  grid-row: 2/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--quaternary-font);
}
.form_wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  box-sizing: border-box;
}
.signup_logo {
  height: 10vh;
  padding: 5px;
  background-image: url(/src/assets/logo.png);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.text_container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.text {
  font-size: 3vh;
  color: #999999;
  margin: 1vh;
}
.login_link {
  font-size: 3vh;
  color: #0376c9;
  margin: 1vh;
  text-decoration: none;
}
